basicsr~=1.4.2
PyYAML~=6.0
omegaconf~=2.2.3
opencv-python~=4.7.0.72
matplotlib~=3.7.1
torch~=2.0.0
torchvision~=0.15.1
modelscope~=1.5.2
numpy~=1.23.3
einops~=0.4.1
requests~=2.25.1
scipy~=1.9.1
Pillow~=9.4.0
onnx~=1.13.1
onnxruntime~=1.14.1
timm~=0.6.7
typing~=3.7.4.3
scikit-image~=0.19.2
beautifulsoup4~=4.12.2
mmcv~=1.7.0
mmdet~=2.28.2
mmpose~=1.0.0
basicsr~=1.4.2
setuptools~=59.8.0
fvcore~=0.1.5.post20221221
ftfy~=6.1.1
regex~=2023.3.23
tabulate~=0.9.0
termcolor~=2.2.0
iopath~=0.1.10
tqdm~=4.65.0
packaging~=23.0
tifffile~=2023.3.15
addict~=2.4.0
yapf~=0.32.0
tensorboard~=2.13.0
prettytable~=3.7.0
mediapipe~=0.10.0
gradio~=3.23.0